# In-Class Lab: PySpark CSV and SQL functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark: SparkSession = SparkSession.builder.appName(
        "PySpark SQL with CSV"
    ).master(
        "local[*]"
    ).config(
        "spark.driver.host", "localhost"
    ).config(
        "spark.executor.memory", "4g"
    ).config(
        "spark.driver.memory", "2g"
    ).getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/11/29 13:50:27 WARN Utils: Your hostname, DESKTOP-7M8TID9 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/11/29 13:50:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/29 13:50:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## 1. Read the csv file in PySpark

In [3]:
df = spark.read.csv('simple-zipcodes.csv', header=True, sep=",")

In [4]:
df.show()

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|       49347|     US|               HOLT|  32564|   FL|
|       49348|     US|          HOMOSASSA|  34487|   FL|
|       61391|     US|  CINGULAR WIRELESS|  76166|   TX|
|       61392|     US|         FORT WORTH|  76177|   TX|
|       61393|     US|           FT WORTH|  76177|   TX|
|       54356|     US|        SPRUCE PINE|  35585|   AL|
|       76511|     US|           ASH HILL|  27007|   NC|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|       39827|     US|               MESA|  85209|   AZ|
|       39828|     US|               MESA|  85210|   AZ|
|       49345|     US|           HILLIARD|  32046|   FL|
|       49346|     US|             HOLDER|  34445|   FL|
|           3|     US|      SECT LANAUSSE|    704|   PR|
|       54354|     US|      SPRING GARDEN|  36275|   AL|
|       54355|     US|        SPRINGVILLE|  35146|   AL|
|       76512|     US|           ASHEBORO|  27203|   NC|
|       76513|     US|           ASHEBORO|  27204|   NC|
+------------+-------+-------------------+-------+-----+

## 2. Create the schema as follows:
a. RecordNumber integer  
b. Country String  
c. City String  
d. Zipcode String  
e. State String

In [5]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [6]:
schema = StructType([
    StructField(name='RecordNumber', dataType=IntegerType(), nullable=False),
    StructField(name='Country',      dataType=StringType(),  nullable=False),
    StructField(name='City',         dataType=StringType(),  nullable=False),
    StructField(name='Zipcode',      dataType=StringType(),  nullable=False),
    StructField(name='State',        dataType=StringType(),  nullable=False),
])

In [7]:
df = spark.read.format(
        'csv'
    ).schema(
        schema
    ).option(
        'header', True
    ).load(
        'simple-zipcodes.csv'
    )

In [8]:
df.show()

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|       49347|     US|               HOLT|  32564|   FL|
|       49348|     US|          HOMOSASSA|  34487|   FL|
|       61391|     US|  CINGULAR WIRELESS|  76166|   TX|
|       61392|     US|         FORT WORTH|  76177|   TX|
|       61393|     US|           FT WORTH|  76177|   TX|
|       54356|     US|        SPRUCE PINE|  35585|   AL|
|       76511|     US|           ASH HILL|  27007|   NC|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|       39827|     US|               MESA|  85209|   AZ|
|       39828|     US|               MESA|  85210|   AZ|
|       49345|     US|           HILLIARD|  32046|   FL|
|       49346|     US|             HOLDER|  34445|   FL|
|           3|     US|      SECT LANAUSSE|    704|   PR|
|       54354|     US|      SPRING GARDEN|  36275|   AL|
|       54355|     US|        SPRINGVILLE|  35146|   AL|
|       76512|     US|           ASHEBORO|  27203|   NC|
|       76513|     US|           ASHEBORO|  27204|   NC|
+------------+-------+-------------------+-------+-----+

In [9]:
print(df.schema)

StructType([StructField('RecordNumber', IntegerType(), True), StructField('Country', StringType(), True), StructField('City', StringType(), True), StructField('Zipcode', StringType(), True), StructField('State', StringType(), True)])

## 3. Create a table ‘customer_demographics’ with the csv file.

In [10]:
df.createOrReplaceTempView('customer_demographics')

In [11]:
spark.sql('SELECT * FROM customer_demographics').show()

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|       49347|     US|               HOLT|  32564|   FL|
|       49348|     US|          HOMOSASSA|  34487|   FL|
|       61391|     US|  CINGULAR WIRELESS|  76166|   TX|
|       61392|     US|         FORT WORTH|  76177|   TX|
|       61393|     US|           FT WORTH|  76177|   TX|
|       54356|     US|        SPRUCE PINE|  35585|   AL|
|       76511|     US|           ASH HILL|  27007|   NC|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|       39827|     US|               MESA|  85209|   AZ|
|       39828|     US|               MESA|  85210|   AZ|
|       49345|     US|           HILLIARD|  32046|   FL|
|       49346|     US|             HOLDER|  34445|   FL|
|           3|     US|      SECT LANAUSSE|    704|   PR|
|       54354|     US|      SPRING GARDEN|  36275|   AL|
|       54355|     US|        SPRINGVILLE|  35146|   AL|
|       76512|     US|           ASHEBORO|  27203|   NC|
|       76513|     US|           ASHEBORO|  27204|   NC|
+------------+-------+-------------------+-------+-----+

## 4. Select Country and City from the table.

In [12]:
spark.sql('SELECT country, city FROM customer_demographics').show()

+-------+-------------------+
|country|               city|
+-------+-------------------+
|     US|        PARC PARQUE|
|     US|PASEO COSTA DEL SUR|
|     US|       BDA SAN LUIS|
|     US|               HOLT|
|     US|          HOMOSASSA|
|     US|  CINGULAR WIRELESS|
|     US|         FORT WORTH|
|     US|           FT WORTH|
|     US|        SPRUCE PINE|
|     US|           ASH HILL|
|     US|    URB EUGENE RICE|
|     US|               MESA|
|     US|               MESA|
|     US|           HILLIARD|
|     US|             HOLDER|
|     US|      SECT LANAUSSE|
|     US|      SPRING GARDEN|
|     US|        SPRINGVILLE|
|     US|           ASHEBORO|
|     US|           ASHEBORO|
+-------+-------------------+

## 5. Select records of all the cities that start with ‘F’ and ‘S’.

In [13]:
spark.sql("""
SELECT
    *
FROM
    customer_demographics
WHERE
    City LIKE 'F%'
    OR City LIKE 'S%'
""").show()

+------------+-------+-------------+-------+-----+
|RecordNumber|Country|         City|Zipcode|State|
+------------+-------+-------------+-------+-----+
|       61392|     US|   FORT WORTH|  76177|   TX|
|       61393|     US|     FT WORTH|  76177|   TX|
|       54356|     US|  SPRUCE PINE|  35585|   AL|
|           3|     US|SECT LANAUSSE|    704|   PR|
|       54354|     US|SPRING GARDEN|  36275|   AL|
|       54355|     US|  SPRINGVILLE|  35146|   AL|
+------------+-------+-------------+-------+-----+

## 6. Select all the cities which have a 3 digit zipcode.

In [14]:
spark.sql("""
SELECT
    *
FROM
    customer_demographics
WHERE
    LEN(Zipcode) = 3
""").show()

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|           3|     US|      SECT LANAUSSE|    704|   PR|
+------------+-------+-------------------+-------+-----+

## 7. Order the cities by zipcode in descending order.

In [15]:
spark.sql("""
SELECT
    *
FROM
    customer_demographics
ORDER BY
    Zipcode DESC
""").show()

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|       39828|     US|               MESA|  85210|   AZ|
|       39827|     US|               MESA|  85209|   AZ|
|       61392|     US|         FORT WORTH|  76177|   TX|
|       61393|     US|           FT WORTH|  76177|   TX|
|       61391|     US|  CINGULAR WIRELESS|  76166|   TX|
|          10|     US|       BDA SAN LUIS|    709|   PR|
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
|           4|     US|    URB EUGENE RICE|    704|   PR|
|           3|     US|      SECT LANAUSSE|    704|   PR|
|       54354|     US|      SPRING GARDEN|  36275|   AL|
|       54356|     US|        SPRUCE PINE|  35585|   AL|
|       54355|     US|        SPRINGVILLE|  35146|   AL|
|       49348|     US|          HOMOSASSA|  34487|   FL|
|       49346|     US|             HOLDER|  34445|   FL|
|       49347|     US|               HOLT|  32564|   FL|
|       49345|     US|           HILLIARD|  32046|   FL|
|       76513|     US|           ASHEBORO|  27204|   NC|
|       76512|     US|           ASHEBORO|  27203|   NC|
|       76511|     US|           ASH HILL|  27007|   NC|
+------------+-------+-------------------+-------+-----+

## 8. Write the result to a csv file ‘Customer_demographics.csv’

In [16]:
spark.sql("""
SELECT
    *
FROM
    customer_demographics
ORDER BY
    Zipcode DESC
""").write.csv(
    'Customer_demographics.csv',
    header=True,
)

In [17]:
spark.stop()