In [1]:
import os
import psycopg2

from dotenv import load_dotenv

In [2]:
load_dotenv()

True

In [3]:
# Connect to postgres DB
conn = psycopg2.connect(
    dbname=os.environ.get("DBNAME"),
    user=os.environ.get("USER"),
    password=os.environ.get("PASSWORD"),
    host=os.environ.get("HOST"),
    port=os.environ.get("PORT"),
)

In [4]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [5]:
# Create a new table
cur.execute("""
CREATE TABLE test (
    id SERIAL PRIMARY KEY,
    num INTEGER,
    data VARCHAR
)
""")

In [6]:
# Commit the changes
conn.commit()

In [7]:
# Insert data into the table
cur.execute(
    "INSERT INTO test (num, data) VALUES (%s, %s)",
    (100, "abc'def")
)

In [8]:
# Commit the changes
conn.commit()

In [9]:
# Query the database
cur.execute("SELECT * FROM test")
rows = cur.fetchall()

In [10]:
# Print all rows
for row in rows:
    print(row)

(1, 100, "abc'def")

In [11]:
# Close communication with the database
cur.close()
conn.close()

# Exercises

In [12]:
# Connect to postgres DB
conn = psycopg2.connect(
    dbname=os.environ.get("DBNAME"),
    user=os.environ.get("USER"),
    password=os.environ.get("PASSWORD"),
    host=os.environ.get("HOST"),
    port=os.environ.get("PORT"),
)

In [13]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [14]:
# Create a new table
cur.execute("""
CREATE TABLE departments (
    id INTEGER PRIMARY KEY,
    name TEXT
)
""")

In [15]:
# Commit the changes
conn.commit()

In [16]:
# Insert data into the table
cur.execute("""
INSERT INTO departments (id, name) VALUES (1, 'HR');
INSERT INTO departments (id, name) VALUES (2, 'Engineering');
INSERT INTO departments (id, name) VALUES (3, 'Marketing');
""")

In [17]:
# Commit the changes
conn.commit()

In [21]:
# Query data from both tables
cur.execute("""
SELECT
	employees.id AS employee_id,
	employees.name AS employee_name,
	age,
	departments.id AS department_id,
	department
FROM employees
INNER JOIN departments
ON employees.department = departments.name
""")

In [23]:
# Print all rows
rows = cur.fetchall()
for row in rows:
    print(row)

(2, 'Bob', 25, 2, 'Engineering')
(1, 'Alice', 30, 1, 'HR')
(3, 'Charlie', 35, 3, 'Marketing')

In [24]:
# Update data
cur.execute("""
UPDATE employees
SET age = 36
WHERE id = 1
""")

In [25]:
conn.commit()

In [26]:
# Delete data
cur.execute("""
DELETE FROM employees
WHERE id = 3
""")

In [27]:
conn.commit()

In [28]:
# Close communication with the database
cur.close()
conn.close()